#slider-background{
	position: static;
    right: 0;
    bottom: 0;
    left:0;
    top:0;
    margin:auto;
    min-width: 100vw; 
    min-height: auto;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#header-container{
	margin:auto;
	padding:0;
	display: block;
}

body{
	overflow-x: hidden;
}
@media only screen and (min-width:772px){
#logo-slider{
	position: absolute;
	top:20vh;
	bottom:auto; 
	right: 30vw;
	left: 30vw;
	margin: auto;
	width: 30%;
	height: auto;
	display: block;
}
}
@media only screen and (max-width: 772px){
	#logo-slider{
	position:absolute;
	top:11vh;
	bottom: auto;
	right: 25%;
	left: 25%;
	margin: auto;
	width:40%;
	height: auto;
	display: block;

}
}
header{
	padding: 0;
}
/*Animacion logo slider-----------------------*/
