#slider-background{
	position: absolute;
    right: 0;
    bottom: 0;
    left:0;
    top:0;
    margin:auto;
    min-width: 50%; 
    min-height: 50%;
    width: 100vw;
}

#header-container{
	padding:;
}