@media only screen and (min-width: 768px){
	#slider-background{
		position: static;
	    right: 0;
	    bottom: 0;
	    left:0;
	    top:0;
	    margin:auto;
	    min-width: 100vw; 
	    min-height: auto;
	    width: 100vw;
	    max-width: 100vw;
	    display: flex;
	    flex-wrap: wrap;
	}
	#slider-thumbnail{
		display: none;
	}
}

@media only screen and (max-width:768px){
	#slider-thumbnail{
	position: static;
    top:0;
    margin:auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
	}
	#slider-background{
		display: none;
	}
	.logo{
		display: none;
	}
	#padding-header{

	}
}


#header-container{
	margin:auto;
	padding:0;
	display: block;
}

body{
	overflow-x: hidden;
}
@media only screen and (min-width:772px){
#logo-slider{
	position: absolute;
	top:20vh;
	bottom:auto; 
	right: 30vw;
	left: 30vw;
	margin: auto;
	width: 30%;
	height: auto;
	display: block;
}
}
@media only screen and (max-width: 772px){
	#logo-slider{
	position:absolute;
	top:11vh;
	bottom: auto;
	right: 25%;
	left: 25%;
	margin: auto;
	width:40%;
	height: auto;
	display: block;

}
}
header{
	padding: 0;
}

#cereal{
	margin: auto;
	width: auto;
	height: 350px;
}

.parallax { 
    /* The image used 
    background-image: url("img_parallax.jpg");*/

    /* Set a specific height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

	.display-flex{
		display: flex;
		flex-wrap: wrap;
	}

	.quienes-somos{
		background-image: url(media/images/fondo.jpg) !important;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;

	}

	.padding-center{
		padding-bottom: 5%;
		padding-top: 5%;
	}
.background-navbar{
	background-color:#f7f7f7;
	box-shadow: 8px 8px 8px rgba(0,0,0,.15)
}

h1, h2, h3, h4{
	font-family: 'Passion One', cursive;
}
p{
	font-family: 'Comfortaa', cursive;
}
h5, h6{
	font-family: 'Lobster', cursive;	
}

/*Animacion logo slider-----------------------*/
